.jokes-ticket {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    border-radius: 20px;
    margin: 20px 0 0;
    padding: 40px;
}

.joke-fav {
    align-self: flex-end;
    background: url(../../img/heart-empty-icon.svg);
    transition: .3s;
    width: 20px;
    height: 17px;
    cursor: pointer;
}

.joke {
    margin-top: 10px;
    display: flex;
}

.joke-icon {
    background-color: #fff;
    background: url(../../img/message-icon.svg) no-repeat center center;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    flex: 0 0 40px;
}

.joke-content {
    width: 100%;
}

.joke-content_link {
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
}

.joke-content_link a::after {
    margin-left: 5px;
    content: url(../../img/link-icon.svg);
}

.joke-content_link_id{
    text-decoration: underline;
    color: #8EA7FF;
}

.joke-content_text {
    max-width: 540px;
    margin-top: 5px;
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -.1px;
    overflow-wrap: break-word;
}

.joke-content_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
}

.joke-content_info_category {
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: -2px;
    text-transform: uppercase;
    color: #333;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 5px 20px;
}