* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}
.main {
  padding: 20px;
  flex: 1 1 auto;
}

.greeting {
  margin-top: 78px;
}

.greeting__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.greeting__content {
  font-size: 24px;
  line-height: 44px;
}

.menu {
  display: none;
  padding: 40px;
  background: #f8f8f8;
}

.menu__title {
  font-size: 20px;
  line-height: 28px;
  color: #ababab;
}

.nothing-in-fav {
  width: 400px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .main {
    padding: 20px;
  }
  .menu {
    display: none;
  }
}

@media screen and (min-width: 480px)  {
  .main {
    padding: 20px;
  }
  .menu_icon{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .active {
    display: block;
    position: absolute;
    right: 0;
  }
}

@media screen and (min-width: 960px)  {
  .main {
    padding: 40px;
  }
  .menu {
    display: block;
  }
  .menu_icon {
    display: none;
  }
}
